%p#notice= notice
%h1 Listing Meetings
%br/
= link_to 'New Meeting', new_meeting_path, class: 'btn btn-lg btn-primary'
%br/
%br/
- if @meetings
  - @meetings.each do |meeting|
    = render partial: 'meetings/meeting', locals: {meeting: meeting}

