%strong
  Joined:
%ul.list-group
  - group.members.each do |member|
    %li.list-group-item
      = member.user.first_name
    -#- us = User.find(group.members.ids)
    -#- us.each do |user|
    -#  = user.first_name
    -#  = user.last_name << ','