%h1 Listing Groups
%hr.colorgraph
= link_to 'New Group', new_group_path, class: 'btn btn-xs btn-primary', 'data-no-turbolink' => true
%br/
%br/
- if @groups
  - @groups.each do |group|
    = render partial: 'groups/group', locals: {group: group}

